body{
    background-color: #ddd;
    color: #444;
    font-family: Helvetica;
    line-height: 1.5em;
    width: 60%;
    margin: 0 auto;
    padding: 2% 0;

}   

main{
    background-color: white;
    margin: 0px;
    padding: 30px;
    border-radius: 10px;
}

section{
    border-top: solid gray 2px;
}

h1, h2{
    margin-top: 10px;
    color: rgb(140, 76, 8);
}